@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    user-select: none; /* Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.fw600{
    font-weight: 600;
}

.f25{
    font-size: 25px
}

.h48{

}

.h50{
    height: 50px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(135deg, lightcoral, lightskyblue);
}

section{
    border-radius: 10px;
    backdrop-filter: blur( 4px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba(255, 255, 255, 0.3);
}

p{
    font-size: 16px;
    font-weight: 300;
}

h1 {
    font-size: 25px;
    font-weight: 600;
}

h2{
    font-size: 25px;
    font-weight: 500;
}

h3{
    font-size: 22px;
    font-weight: 400;
}

h4{
    font-weight: 300;
    font-size: 20px;
}

.btn-long{
    position: relative;
    height: 25px;
    min-width: 120px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    text-align: center;
    background: #fff;
    transition: 0.15s;
}

.btn-long:focus{
    background: #eeeeee;
}

.btn-long::before{
    position: absolute;
    content: "";
    left: 10px;
    top: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 3px solid deepskyblue;
}

.btn-long:hover::before{
    border-color: skyblue;
}

.slider{
    z-index: 1;
    position: relative;
    display: inline-block;
    height: 20px;
    width: 40px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    text-align: center;
    background: rgb(255, 255, 255, 0.7);
    transition: 0.15s;
}

.slider input{
    visibility: hidden;
    width: 40px;
    height: 20px;
}

.slider input::before{
    content:"";
    visibility: visible;
    position: absolute;
    cursor: pointer;
    left: 5px;
    top: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 3px solid deepskyblue;
    transition: 0.2s;
}

.slider input:checked::before{
    transform: translateX(19px);
    background: deepskyblue;
}

.textbox{
    position: relative;
}

.textbox input{
    outline: none;
    min-height: 25px;
    width: 100%;
    border-radius: 5px;
    background: none;
    transition: 0.15s;
    padding: 7px;
    border-bottom: 2px solid deepskyblue;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.textbox input:focus{
    border-bottom-color: cornflowerblue;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: rgba(255, 255, 255, 0.3);
}

.textbox label{
    pointer-events: none;
    color: #888;
    position: absolute;
    left: 7px;
    top: 10px;
    transition: 0.2s;
}

.textbox input:focus ~ label{
    opacity: 1;
    padding: 0 4px 0 4px;
    border-radius: 30px;
    background: deepskyblue;
    transform: translateY(-17px);
    font-size: 12px;
    color: #ffffff;
}

.textbox input:valid:not(:focus) ~ label{
    opacity: 0;
}

.datebox input{
    outline: none;
    min-height: 25px;
    min-width: 150px;
    border-radius: 5px;
    background: none;
    transition: 0.15s;
    padding: 7px;
    border-bottom: 2px solid deepskyblue;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.datebox input:focus{
    border-bottom-color: cornflowerblue;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    background: rgba(255, 255, 255, 0.3);
}

.tag-list{
    list-style-type: none;
    display: grid;
    overflow-y: auto;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    grid-auto-rows: minmax(5px, auto);
}

.tag-list li{
    align-items: center;
    justify-items: center;
    background: deepskyblue;
    height: 20px;
    font-size: 12px;
    color: #f2f2f2;
    width: fit-content;
    padding: 2px 10px 0 10px;
    border-radius: 12px;
}

.tag-list li input{
    display:none;
}

.separator{
    width: 5px;
    border-radius: 2px;
    height: 48px;
    background: deepskyblue;
}

.calendar-container{
    width: 450px;
}

.calendar-container header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

.calendar-container header .icons span{
    height: 40px;
    width: 40px;
    margin: 0 1px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.6rem;
}

.calendar-container header .icons span:hover{
    background: #fff;
}

.calendar{
    padding: 20px;
}

.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendar ul li{
    position: relative;
    width: calc(100% / 7);
}

.calendar .week li{
    font-weight: 500;
}

.calendar .days{
    margin-bottom: 20px;
}

.calendar .days li{
    z-index: 1;
    margin-top: 30px;
    cursor: pointer;
}

.calendar .days li.inactive{
    color: #888888;
}

.calendar .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar .days li.active::before{
    z-index: -1;
    background: lavender;
}

.calendar .days li:hover::before{
    z-index: -1;
    background: #f2f2f2;
}

.event-entry-container{
    position: absolute;
    right: 0;
    height: 90vh;
    width: 400px;
    border-radius: 10px 0 0 10px;
}

.event-entry-container .input-area{
    margin: 25px;
    position: relative;
    height: 90%;
}

.event-entry-container .input-area h2{
    color: #888888
}

.event-entry-container .event-title-row{
    margin-bottom: 20px;
}

.event-entry-container .event-input-row{
    margin-bottom: 20px;
    padding-left: 7px;
}

.event-entry-container .event-toggle-row{
    margin-bottom: 20px;
    padding-left: 7px;
    margin-right: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-entry-container .input-area .datebox{
    display: flex;
}

.event-entry-container .input-area .datebox h3{
    margin:0 4px 0 4px;
}

.event-previewer{
    min-width: 100px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur( 7px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: absolute;
    transition: 0.1s;
}

.event-previewer header{
    text-align: center;
}

.event-previewer header h2{
    margin: 5px 10px 0 5px;
}

.event-previewer header p{
    margin: 0 10px 5px 5px;
}

.previewer-content{
    margin: 5px 10px 0 10px;
}

.previewer-content .btn-long{
    margin-top: 10px;
    width: 100%
}