<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calendar</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts, Material Icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="../public/js/index.js" defer></script>
</head>
<body>
    <nav class="nav-bar">
        <img src="../public/notion-avatar-1669788010399.png" height="48" width="48"/>
        <h2 class="nav-greet">Welcome, Binda!</h2>
        <h2 class="nav-clock"></h2>
    </nav>
    <section class="calendar-container">
        <header>
            <h1 class="current-date"></h1>
            <div class="icons">
                <span id="today" class="material-symbols-rounded">today</span>
                <span id="prev" class="material-symbols-rounded">chevron_left</span>
                <span id="next" class="material-symbols-rounded">chevron_right</span>
            </div>
        </header>
        <div class="calendar">
            <ul class="week">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="days"></ul>
        </div>
    </section>
    <section class="event-entry-container">
        <div class="event-input-area">
            <div class="event-title-row">
                <div class="textbox">
                    <input class="f25 h50 fw600" type="text" required>
                    <label class="placeholder f25 fw600">Title</label>
                </div>
            </div>
            <div class="event-input-row">
                <h2>Date</h2>
                <div class="datebox">
                    <input type="date" id="entry-start-date">
                    <h3>to</h3>
                    <input type="date" id="entry-end-date">
                </div>
            </div>
            <div class="event-toggle-row">
                <h2>Include Time</h2>
                <div class="slider">
                    <input type="checkbox" id="entry-toggle-time">
                </div>
            </div>
            <div class="event-input-row" style="display: none" id="entry-area-time">
                <div class="datebox">
                    <input type="time" id="entry-start-time">
                    <h3>to</h3>
                    <input type="time" id="entry-end-time">
                </div>
            </div>
            <div class="event-toggle-row">
                <h2>Include Location</h2>
                <div class="slider">
                    <input type="checkbox" id="entry-toggle-location">
                </div>
            </div>
            <div class="event-input-row" style="display: none" id="entry-area-location">
                <div class="textbox">
                    <input class=" f25 h50 fw500" type="text" required>
                    <label class="placeholder f25 fw500">Location</label>
                </div>
            </div>
            <div class="event-toggle-row">
                <h2>Notification</h2>
                <div class="slider">
                    <input type="checkbox" id="entry-toggle-reminder">
                </div>
            </div>
            <div class="event-input-row" style="display: none" id="entry-area-reminder">
                <ul class="tag-list" id="tag-list-noti">
                    <li><input type="radio" name="noti-before">5 minutes before</li>
                    <li><input type="radio" name="noti-before">10 minutes before</li>
                    <li><input type="radio" name="noti-before">15 minutes before</li>
                    <li><input type="radio" name="noti-before">30 minutes before</li>
                    <li><input type="radio" name="noti-before">1 hour before</li>
                    <li><input type="radio" name="noti-before">1 day before</li>
                    <li><input type="radio" name="noti-before">1 week before</li>
                </ul>
            </div>
        </div>
        <div class="event-actions">
            <button class="btn-long">Edit</button>
            <button class="btn-long">Save</button>
        </div>
    </section>
    <div class="event-previewer">
        <header>
            <h2></h2>
            <p></p>
        </header>
        <div class="separator"></div>
        <div class="previewer-content">
            <p>No event today</p>
            <button class="btn-long">New</button>
        </div>
    </div>
</body>
</html>